<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashbord Admin</title>
        <link rel="icon" href="../images/logopara.png" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="../Static/css/style.css">
    </head>
    <body>
        <div class="container">

            <div>
                {% include 'Sidebar.html' %}
            </div>

            <main style="margin-left:3rem;">
                <a href="/abonnees" class="link">Abonnées</a>
                <span class="arrow">&rarr;</span>
                <a href="/abonnees" class="link">List</a>
                <h1>Abonnées</h1>
    
                <div class="recent_order">
                    <div class="header-order-add">
                        <div class="date">
                            <input type="date" id="currentDate">
                        </div>
        
                        <div class="addbutton">
                            <a href="/addabonnees" class="add-category-link" style="margin:0px;">
                                <span class="material-symbols-sharp">add </span>
                                <h3>Ajouter Abonnée</h3>
                            </a>
                        </div>
                    </div>
                   
                    <table>
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th>Date Inscription</th>
                                <th>Liste d'emprunt en cours</th>
                                <th>Historique d'emprunts</th>
                                <th></th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {% for abonne in abonnes %}
                            <tr>
                                <td>{{ abonne.nom }}</td>
                                <td>{{ abonne.prenom }}</td>
                                <td>{{ abonne.email }}</td>
                                <td>{{ abonne.adresse }}</td>
                                <td>{{ abonne.date_inscription if abonne.date_inscription else '-' }}</td>
                                <td>{{ abonne.liste_emprunt_cours if abonne.liste_emprunt_cours else '-' }}</td>
                                <td>{{ abonne.historique_emprunt if abonne.historique_emprunt else '-' }}</td>
                                <td >
                                    <span class="material-symbols-sharp more-icon"
                                        style="font-size: 1.6rem; font-variation-settings: 'wght' 900;">more_vert</span>
                                    <div class="popup">

                                        <div class="action-icons ic1" >
                                            <button id='openModal_all' class="view-button">
                                                <span class="material-symbols-sharp"
                                                    style="font-size: 1.7rem; padding-top:.2rem">visibility</span>
                                                <h3>View</h3>
                                            </button>
                                        </div>

                                        <div class="action-icons ic2" >
                                            <button id='openModal' class="edit-button">
                                                <span class="material-symbols-sharp"
                                                    style="font-size: 1.7rem; padding-top:.2rem">create</span>
                                                <h3>Edit</h3>
                                            </button>

                                        </div>

                                        <div class="action-icons ic3" style="">
                                            <form action=""
                                                method="POST">
                                        
                                                <button type="submit" class="delete-button">
                                                    <span class="material-symbols-sharp"
                                                        style="font-size: 1.7rem; padding-top:.2rem">delete</span>
                                                    <h3>Delete</h3>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>

            <div>
                {% include 'Navbar.html' %}
            </div>
        </div>

        <script src="../Static/js/script.js"></script>
    </body>
</html>