<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashbord Admin</title>
        <link rel="icon" href="../Static/images/book2.png" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="../Static/css/style.css">
        <!-- SweetAlert2 CDN -->
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">  
        <!-- SweetAlert2 JS -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <style>
        .button-checkbox{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .status-en-cours {
            color: #4CAF50;
            /* border: 2px solid #4CAF50; */
            /* background: rgba(195, 243, 194, 0.05); */
            height: 1.8rem;
        }

    </style>    
    </head>

    <body>
        <div class="container">
            <div>
                {% include 'Sidebar.html' %}
            </div>

            <main style="margin-left:3rem;">
                <a href="/abonnees" class="link">Abonnées</a>
                <span class="arrow">&rarr;</span>
                <a href="/abonnees" class="link">List</a>
                <h1>Abonnées</h1>
    
                <div class="recent_order">
                    <div class="header-order-add">
                        <div class="date">
                            <input type="date" id="currentDate">
                        </div>
                        
                        <form action="/search_abonnees" method="GET" class="search-form">
                            <div class="search-container">
                                <input type="text" placeholder="Chercher un abonné..." class="search-input" id="searchInput">
    
                                <span class="material-symbols-sharp search-icon">search</span>
                            </div>
                        </form>
        
                        <div class="addbutton">
                            <a href="/addabonnees" class="add-category-link" style="margin:0px;">
                                <span class="material-symbols-sharp">add </span>
                                <h3>Ajouter Abonnée</h3>
                            </a>
                        </div>
                    </div>
                   
                    <table id="abonnesTable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Email</th>
                                <th>Adresse</th>
                                <th style="padding-bottom: 0;">Date Inscription
                                    <form action="/abonnees" method="GET" class="filter-form">
                                        <select id="Inscription_filter" name="Inscription_filter" onchange="this.form.submit()">
                                            <option value="" disabled selected>Choisir une option</option>
                                            <option value="asc" {% if selected_Inscription_filter == 'asc' %}selected{% endif %}>
                                                Date la plus ancienne
                                            </option>
                                            <option value="desc" {% if selected_Inscription_filter == 'desc' %}selected{% endif %}>
                                                Date la plus récente
                                            </option>
                                        </select>
                                    </form> 
                                </th>
                                <th>Liste d'emprunt 
                                    <label for="emprunt_status" >
                                        <span class="status-en-cours" style="height: 35px; display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        text-align: center;">En cours</span>
                                    </label>
                                </th>
                                <th>Historique d'emprunts</th>
                                <th></th>
                            </tr>
                        </thead>
    
                        <tbody>
                            {% for abonne in abonnes %}
                            <tr>
                                <td>{{ abonne.nom }}</td>
                                <td>{{ abonne.prenom }}</td>
                                <td>{{ abonne.email }}</td>
                                <td>{{ abonne.adresse }}</td>
                                <td>{{ abonne.date_inscription if abonne.date_inscription else '-' }}</td>

                                <td class="liste-td">
                                    {% if abonne.emprunts_en_cours %}
                                    <ul class="liste-ul">
                                        {% for emprunt in abonne.emprunts_en_cours %}
                                        <li class="liste-li">
                                            <span class="toggle-details" 
                                                data-id="{{ emprunt.document_emprunte.titre }}" 
                                                data-date-emprunt="{{ emprunt.date_emprunt }}" 
                                                data-date-retour="{{ emprunt.date_retour }}" 
                                                data-statut-emprunt="{{ emprunt.statut_emprunt }}">
                                                {{ emprunt.document_emprunte.titre }}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                        Aucun emprunt en cours
                                    {% endif %}
                                
                                    <hr>
                                </td>
                                <td class="liste-td">
                                    {% if abonne.tous_les_emprunts %}
                                    <ul class="liste-ul">
                                        {% for emprunt in abonne.tous_les_emprunts %}
                                        <li class="liste-li">
                                            <span class="toggle-details" 
                                                data-id="{{ emprunt.document_emprunte.titre }}" 
                                                data-date-emprunt="{{ emprunt.date_emprunt }}" 
                                                data-date-retour="{{ emprunt.date_retour }}" 
                                                data-statut-emprunt="{{ emprunt.statut_emprunt }}">
                                                {{ emprunt.document_emprunte.titre }}
                                            </span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                        Aucun emprunt
                                    {% endif %}
                                </td>
                                
                                <td >
                                    <div class="primary">
                                        <span class="material-symbols-sharp more-icon" style="font-size: 1.6rem; font-variation-settings: 'wght' 900;">more_vert</span>
                                        <div class="popup">
                                            <div class="action-icons ic2" >
                                                <button id="openModal" class="edit-button" data-email="{{ abonne.email }}">
                                                    <span class="material-symbols-sharp" style="font-size: 1.5rem; padding-top:.2rem; padding-left:.1rem">create</span>
                                                    <h3>Modifier</h3>
                                                </button>
                                                
                                            </div>

                                            <div class="action-icons ic3" >
                                                <form action="/delete_abonne/{{ abonne.email }}" method="POST" id="deleteForm--{{ abonne.email }}">
                                                    <button type="submit" class="delete-button" data-titre="ExempleCatalogue" onclick="confirmDeletion('{{ abonne.email }}')">
                                                        <span class="material-symbols-sharp"
                                                        style="font-size: 1.5rem; padding-top:.2rem; padding-left:.1rem">delete</span>
                                                        <h3>Supprimer</h3> 
                                                    </button>
                                                </form>
                                            </div>
                                        </div>

                                        <!-- ******************************edit modal******************* -->
                                        <div class="modal" id="modal_{{ abonne.email }}">
                                            <div class="modal-content">
                                                <span class="close">&times;</span>
                                                <h1>Modifier Abonné</h1>

                                                <form  action="/update_abonne/{{ abonne.email }}" method="POST" class="add_form">
                                                    <div class="add__inputs">
                                                        <div class="add__box">
                                                            <h3 class="add_h_edit">Nom</h3>
                                                            <input type="text" required class="add__input" id="nom" name="nom" value="{{ abonne.nom }}">
                                                        </div>

                                                        <div class="add__box">
                                                            <h3 class="add_h_edit">Prénom</h3>
                                                            <input type="text" required class="add__input" id="prenom" name="prenom" value="{{ abonne.prenom }}">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="add__inputs">
                                                        <div class="add__box">
                                                            <h3 class="add_h_edit">Email</h3>
                                                            <input type="email" required class="add__input" id="email" name="email" value="{{ abonne.email }}">
                                                        </div>

                                                        <div class="add__box">
                                                            <h3 class="add_h_edit">Adresse</h3>
                                                            <input required class="add__input" id="adresse" name="adresse" value="{{ abonne.adresse }}">
                                                        </div>
                                                    </div>
                                                    <div class="add__inputs">
                                                        <div class="add__box">
                                                            <h3 class="add_h_edit">Date Inscription</h3>
                                                            <input type="date" class="add__input" id="date_inscription" name="date_inscription"  value="{{ abonne.date_inscription }}">
                                                        </div>
                                                    </div>

                                                    <div class="button-group" style="padding-bottom:10px;">
                                                        <button type="submit" class="add__button">Modifier</button>
                                                        <button type="button" class="cancel__button">Annuler</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>

            <div>
                {% include 'Navbar.html' %}
            </div>
        </div>

        <script>
            function confirmDeletion(titre) {
              // Empêche la soumission immédiate du formulaire
              event.preventDefault();
              
              Swal.fire({
                title: 'Êtes-vous sûr ?',
                text: "Cette action est irréversible !",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Oui, supprimer',
                cancelButtonText: 'Annuler'
              }).then((result) => {
                if (result.isConfirmed) {
                  // Si l'utilisateur confirme, soumettre le formulaire
                  document.getElementById(`deleteForm--${titre}`).submit();
                }
              });
            }

            document.querySelectorAll('.toggle-details').forEach(function(link) {
                link.addEventListener('click', function() {
                    // Récupérer les données de l'emprunt à partir des attributs data
                    const documentEmprunte = link.getAttribute('data-id');
                    const dateEmprunt = link.getAttribute('data-date-emprunt');
                    const dateRetour = link.getAttribute('data-date-retour');
                    const statutEmprunt = link.getAttribute('data-statut-emprunt');

                    // Remplir la modale avec ces informations
                    const modalContent = `
                        <h3>Détails de l'Emprunt</h3>
                        <p>Document Emprunté : <span>${documentEmprunte}</span></p>
                        <p>Date Emprunt : <span>${dateEmprunt}</span></p>
                        <p>Date Retour : <span>${dateRetour}</span></p>
                        <p>Statut Emprunt : <span>${statutEmprunt}</span></p>
                    `;

                    // Afficher la modale avec les informations
                    const modal = document.createElement('div');
                    modal.classList.add('modal-details');
                    modal.innerHTML = `
                        <div class="modal-content-details">
                            <span class="close" onclick="closeModal()">&times;</span>
                            ${modalContent}
                        </div>
                    `;
                    document.body.appendChild(modal);

                    // Afficher la modale
                    modal.style.display = "block";
                });
            });

            // Fonction pour fermer la modale
            function closeModal() {
                const modal = document.querySelector('.modal-details');
                if (modal) {
                    modal.style.display = "none";
                    modal.remove();
                }
            }
        </script>
        
        <script src="../Static/js/script.js"></script>
    </body>
</html>