<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Documents</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="icon" href="../Static/images/book2.png" type="image/x-icon">
    <link rel="stylesheet" href="../Static/css/style.css">
</head>
<body>
    <div class="container">
        <div>
            {% include 'Sidebar.html' %}
        </div>

        <main style="margin-left:3rem;">
            <a href="/catalogues" class="link">Document</a>
            <span class="arrow">&rarr;</span>
            <a href="/addcatalogues" class="link">Ajouter Document</a>
            <h1>Ajouter Document</h1>

            <div class="recent_order">
                <div class="date">
                    <input type="date" id="currentDate">
                </div>

                <form id="addCataloguesForm" action="/addcatalogues" method="POST" class="add_form">
                    <div class="add__inputs">
                        <div class="add__box">
                            <h3 class="add_h">Titre</h3>
                            <input type="text" required class="add__input" id="titre" name="titre" value="">
                        </div>
                       
                    </div>

                    <div class="add__inputs">
                        <div class="add__box">
                            <h3 class="add_h">Type</h3>
                            <input type="text" required class="add__input" id="type" name="type" value="">
                        </div>
                        
                        <div class="add__box">
                            <h3 class="add_h">Auteur</h3>
                            <input type="text" required class="add__input" id="auteur" name="auteur" value="">
                        </div>
                    </div>
                    
                    <div class="add__inputs">
                        <div class="add__box">
                            <h3 class="add_h">Date Publication</h3>
                            <input type="date" class="add__input" id="date_publication" name="date_publication">
                        </div>
                    </div>

                    <div class="add__inputs">
                        <div class="add__box">
                            <h3 class="add_h">Disponibilite</h3>
                            <select required class="add__input" id="disponibilite" name="disponibilite">
                                <option value="disponible">Disponible</option>
                                <option value="indisponible">Indisponible</option>
                            </select>
                        </div>
                    </div>

                    <div class="button-group">
                        <button type="submit" class="add__button">Ajouter</button>
                        <button type="button" class="cancel__button" onclick="">Annuler</button>
                    </div>
                </form>
            </div>
        </main>

        <div>
            {% include 'Navbar.html' %}
        </div>
    </div>

    <script src="../Static/js/script.js"></script>
</body>
</html>
