<aside>
    <!-- <iframe src="sidebar.balade.php" frameborder="0" style="width: 100%; height: 100%;"></iframe> -->

    <div class="sidebar">
        <div class="top">
            <div class="image_logo">
                <img src="../Static/images/book2.png" alt="">
            </div>

            <div class="logo">
                <h2 style="margin-left:.2rem;" classe="logo-color">Dashbord <span class="danger">Admin</span> </h2>
            </div>

            <div class="close" id="close_btn">
                <span class="material-symbols-sharp">
                close
                </span>
            </div>
        </div>

        <div class="sous_sidebar">
            <a href="/dashboard" >
                <span class="material-symbols-sharp">grid_view </span>
                <h3>Dashboard</h3>
            </a>

            <a href="/abonnees" >
                <span class="material-symbols-sharp">person_outline</span>
                <h3>Abonnées</h3>
            </a>

            <a href="/addabonnees" >
                <span class="material-symbols-sharp">add </span>
                <h3>Ajouter Abonnées</h3>
            </a>

            <a href="/catalogues">
                <span class="material-symbols-sharp">menu_book</span>
                <h3>Livres</h3>
            </a>

            <a href="addcatalogues" >
                <span class="material-symbols-sharp">add </span>
                <h3>Ajouter Livres</h3>
            </a>

            <a href="/emprunts" >
                <span class="material-symbols-sharp">library_books</span>
                <h3>Emprunts</h3>
            </a>

            <a href="/addemprunts" >
                <span class="material-symbols-sharp">add </span>
                <h3>Ajouter Emprunts</h3>
            </a>

            <a href="/">
                <span class="material-symbols-sharp">logout </span>
                <h3>logout</h3>
            </a>
        </div>
        
    </div>

</aside>
